html{
    scroll-behavior: smooth;
}

body {
    font-family: "Inconsolata", monospace;
    font-family: 'Spartan', sans-serif !important;
  }

.banner{
    padding: 20px 40px 0px 40px !important;
    background: transparent;
    background-size: cover !important;
    height: 100vh;
    background-attachment: fixed;
    background-image: url("https://raw.githubusercontent.com/Fedecolombo1/Home/master/Images/mountain2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nombre{
    color: white !important;
    font-size: 17px;
    font-weight: bold;
    display: inline-flex;
    margin-left: 5px;
}

.hola{
    color: white;
    font-size: 82px;
    font-weight: bold;
    margin-top: 11vh !important;
}

.console-container{
    margin-top: 70vh !important;
}

.links{
    color: white !important;
    font-size: 17px;
    font-weight: bold;
}



.trabajos{
    margin-top: 37vh !important;
}

.works{
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.works:hover{
    color: tomato;
    transition: .7s;
}

.titleProyect{
    color: #1e7a5e;
    font-size: 18px;
    font-weight: bold;
}

.titleProyect2{
    color: #ffcc00;
    font-size: 18px;
    font-weight: bold;
}

.titleProyect3{
    color: #ffcc00;
    font-size: 18px;
    font-weight: bold;
}

.descProyect{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.redes{
    cursor: pointer;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.redes:hover{
    color: #ff6347 !important;
    transition: .7s;
}

a{
    text-decoration: none !important;
    color: white !important;
    text-align: start;
}

.proyectos{
    background: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 60px;
}

.studies{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #A01C04;
}

.latest{
    font-size: 30px;
    font-weight: bolder;
    color: #4a4a4a;
}

.proyecto{
    box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
    height: 450px;
    margin-top: 60px !important;
    margin-bottom: 60px;
}

.portafolio{
    background-image: url("../Images/IMG-9786.JPG");
    background-size: cover;
    background-position: center;
}

.experimentos{
    background: #f3f3f3;
    padding-top: 60px;
}

.experimento{
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 15%);
    height: 418px;
}

.titleExp{
    font-weight: bold;
    font-size: 14px;
    padding: 0px;
    margin-bottom: -20%;
}

.nameExp{
    font-weight: 400;
    font-size: 14px;
    padding: 0px;
}

.gifTesla{
    border-radius: 400px ;
    margin-bottom: -5%;
}

.contacto{
    background-color: #17181c;
    padding: 8% 0;
}

.txtContact{
    color: white;
    font-weight: bold;
    
}

.pContact{
    font-size: 15px;
    color: white;
    font-weight: bold;
}

footer{
    /*background-color: #1c1d25;*/
    background-color: #17181c;
    padding: 2% 0 !important;
}

.redesTxt{
    color: white; 
    font-size: 17px;
}
.tomato{
    color: tomato;
}




h2.links > a {
    position: relative;
    color: white !important;
    text-decoration: none;
  }
  
  h2.links > a:hover {
    color: white !important;
  }
  
  h2.links > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: tomato !important;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  h2.links > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .botonA{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 800;
    color: white;
    background:  #1e7a5e;
    border: 1px solid #1e7a5e;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .botonA:hover{
    background: #3bb59e;
    border: 1px solid #3bb59e;
    transition: .7s;
  }
  .botonB{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 800;
    color: white;
    background:  #ffcc33;
    border: 1px solid #ffcc33;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .botonB:hover{
    background: #cc9900;
    border: 1px solid #cc9900;
    transition: .7s;
  }


.mobile{
    display: none !important;
}
.desk{
    display: flex !important;
}


@media (max-width: 768px) {
    .mobile{
        display: flex !important;
    }
    .desk{
        display: none !important;
    }

    .banner{
        padding: 0px !important;
        padding-top: 12px !important;
        background-position-x: center !important;
        height: 90vh !important;
    }

    .nombre{
        margin: 0px;
    }

    .trabajos{
        margin-top: 28% !important;
    }

    .proyecto{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .pContact{
        z-index: 40 !important;
        margin-top: 142px !important;
    }
    .imgToTop{
        width: 15% !important;
    }


    .contacto{
        height: 100% !important;
    }
    .footer{
        height: 100% !important;
    }
}